<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="pattern"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{sessionId}] %-5level [%thread] %logger{80} :%msg%n" />

	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${pattern}</pattern>
		</encoder>
	</appender>
	<!-- root级别控制 -->
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>  
